/*
        >> CONFIG GERAIS << 
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.pexels.com/photos/417049/pexels-photo-417049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=740);
    color: #f0f0f5;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
}

p {
    font-family: 'Ubuntu Mono', monospace;
    
}


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;

    
}

.text-center {
    text-align: center;
}

/*           HEADER          */
#header {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

  /*        FORMULÃRIO        */
#survey-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 40%;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    
    background-color: rgba(0, 0, 255, 0.562);
    overflow: hidden;
}

.group {
    width: 90%;
    margin-top: 10px;
}

.formEntry {
    border-radius: 5px;
    width: 99%;
    height: 2.375rem;
    color: #495057;
}

.tipoPct {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
}

.input-radio, .input-checkbox {
    margin: 9px;
  
}

.caixinhas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 99%;
    border: lawngreen solid;
}

.cursos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.cursoscheck {
    display: flex;
    flex-direction: column;
    
    
}

#comments {
    width: 99%;
    min-height: 55px;

}

#submit-button {
    padding: ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.submitBtn {
    width: 100%;
    height: 35px;
    

    background-color: chartreuse;
    color: white;
    border-radius: 2px;
    
    cursor: pointer;
    font-size: 20px;
    text-align: center;


}

#footer {
    font-family: 'Rancho', cursive;
}

@media (max-width: 720px) {
    #header {
        margin-top: 20px;
    }

    #survey-form {
        width: 80%;
        margin-bottom: 20px;
    }

    .tipoPct {
        display: flex;
        flex-direction: column;
        height: auto;    
    }
}