/*
        >> CONFIG GERAIS << 
*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://images.pexels.com/photos/417049/pexels-photo-417049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=450&w=740);
    color: #f0f0f5;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
}

p {
    font-family: 'Ubuntu Mono', monospace;
    
}


#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: auto;

    
}

.text-center {
    text-align: center;
}

/*           HEADER          */
#header {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

#title {
    color: #f0f0fa;
    text-shadow: 5px 5px 8px rgba(111, 2, 255, 0.568);
}


  /*        FORMULÃRIO        */
#survey-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 40%;
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    
    background-color: rgba(12, 12, 53, 0.527);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(102, 2, 141, 0.19);
    overflow: hidden;
}

.group {
    width: 90%;
    margin-top: 10px;
}

.formEntry {
    border-style: none;
    border-bottom: rgb(45, 1, 104) 2px solid;
    border-radius: 5px;
    background-color: transparent;
    width: 99%;
    height: 2.375rem;
    color: #a1d0ff;
}

.tipoPct {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
}

.input-radio, .input-checkbox {
    margin: 9px;
  
}

.caixinhas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 99%;
}

.cursos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.cursoscheck {
    display: flex;
    flex-direction: column;
    
    
}

#comments {
    width: 99%;
    min-height: 55px;
    background-color: transparent;
    color: skyblue;
    border-style: none;
    border-radius: 5px;
    border-bottom: solid 2px  rgb(45, 1, 104);
    border-top: solid 2px  rgb(112, 5, 253);
}

#submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.submitBtn {
    width: 100%;
    height: 35px;
    

    background-color: rgb(223, 172, 5);
    color: white;
    border-radius: 2px;
    border-style: none;
    
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    
    transition: all ease-in 500ms;
}

.submitBtn:hover {
    transform: scale(1.05);
    background-color: rgb(255, 196, 0);
    font-size: 22px;
}

#footer {
    font-family: 'Rancho', cursive;
}

@media (max-width: 720px) {
    #header {
        margin-top: 20px;
    }

    #survey-form {
        width: 80%;
        margin-bottom: 20px;
    }

    .tipoPct {
        display: flex;
        flex-direction: column;
        height: auto;    
    }
}